{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Hola!! desde el about</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolorem atque dolore unde, ea cumque itaque accusantium temporibus aliquam, consequatur nulla dicta tempora dolor. Tempore molestiae ipsa veniam voluptatem iure!
        </p>
    </div>
    <div class="col-4">
        <img src="../assets/img/{{nombre}}.{{extension}}" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}